.header {
    width: 100%;
    background-color: #012F4B;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container {
    width: 70%;
    padding: 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.header h1 {
    color: #fff;
    font-size: 25px;
}
.store {
    color: #ED4545;
}


.textbox-pesquisa {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.textbox-pesquisa input {
    font-size: 18px;
    width: 100%;
    height: 1.3rem;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
.textbox-pesquisa input::placeholder {
    padding-left: 8px;
    color: #a7a7a7;
}
.textbox-pesquisa i{

    color: #a7a7a7;
    top: 4px;
    right: 25px;
    position: relative;
}
.fa-cart-shopping {
    font-size: 25px;
    color: #fff;
}


